.vscode
verifier/__pycache__
data/MNIST/
data/cifar-10-batches-py/
data/cifar-10-python.tar.gz
*/.DS_Store
.DS_Store
models/cifar10
models/mnist
gurobi/gurobi.lic
verifier/out.txt
Abstract-Constraint-Transformer.wiki/