# main env dependencies
torch>=2.0.0,<2.4.0
torchvision>=0.12.0,<0.19.0
numpy>=1.20,<2.0
onnx
git+https://github.com/doctormeee/onnx2pytorch.git
onnxruntime>=1.15
onnxoptimizer>=0.3
skl2onnx>=1.14


packaging>=20.0
pylint>=2.15
appdirs>=1.4
tqdm>=4.64
graphviz>=0.20.3

pyyaml>=6.0
termcolor>=2.3.0
gurobipy>=10
psutil>=5.9.5
sortedcontainers>=2.4
pandas>=2.0
ninja>=1.10,<1.11.1.2

tensorflow